# Dependencies
node_modules/

# Build artifacts (The heavy stuff we can regenerate -- kept here for educational purpose)
#*.r1cs
#*.sym
#*.wasm
#*.zkey
#*.ptau
#*.wtns
#proof.json
#public.json
#verification_key.json

# Generated C++ folders
*_cpp/
*_js/

# Keep the source code and inputs!
!multiplier.circom
!input.json

